.informations1{
  display: flex;
  padding:0 5px;
  padding-top:20px;
  padding-bottom:10px;
  align-items: center;
  background-color: #636363;
}
.informations1 .buttons{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.informations1 button{
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 20px;
  margin-left: 10px;
  /* width: 220px; */
  width: 30%;
  margin-bottom:10px;
  /* height: 100px; */
  height: 130px;
  border:none;
  background-color: #a50c0c
}
.informations1 p{
  font-family: 'Spartan', sans-serif;
  width: 40%;
  color:antiquewhite;
}