footer{
  padding:15px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#333333;
}
footer div *{
  margin:5px 0;
}
footer button,input{
  border-radius: 4px;
  border:none;
  height: 30px;
}
footer input{
  margin-right: 5px;
  width: 55%;
}

.parte{
  margin-right: 10px;
}

@media screen and(max-width: 1080px){
    .parte{
      font-size: 12px;
     
    }
}

@media screen and (max-width: 740px){

  footer{
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 3.5%;
  }
}