/* ajeitar as cor */
.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  height: 45px;
  background-color: #A50c0c;
}
.header img{
  height: 40px;
}
.header ul{
  display:flex;
  align-items: center;
  list-style: none;
}
.header ul li,form *{
  margin:0 10px;
}

.header ul li a{
  color:#ffffff;
}
.header ul li input{
  height: 30px;
  width: 80%;
  border-radius:3px;
  border:none;
  background: #ffffff;
}
.header ul li button{
  height:30px;
  width: 40%;
  margin-right: 0;
  border-radius:3px;
  border:1px solid #7e0005;
  background:#b81111;
  color:#ffffff;
}
.header form{
  display: flex;
  width: 100%;
}
.header .li__form{
  width: 100%;
}
.header ul li input::placeholder{
  color:#a50c0c;
  align-content: center;
}
@media screen and (max-width:620px){
  .header{
    padding:0 5px;
  }
  .header a{
    font-size: 15px;
  }
  .header ul li,form *{
    margin:0 5px;
  }
  .header img{
    height: 40px;
  }
}
@media screen and (max-width:490px){
  .header a{
    font-size: 13px;
  }
}