.hero{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/img_1.jpg);
  background-size: cover;
  height: calc(100vh - 40px);
}
.hero *{
  margin:15px 0;
  color:#ffffff;
}
.hero h1{
  font-size: 4rem;
}
.hero p{
  font-size:20px;
}
.hero ul{
  display: flex;
  list-style: none;
}
.hero ul li{
  font-size: 50px;
  margin:0 20px;
}
@media screen and (max-width:1024px){

  .hero h1{
    font-size: 40px;
  }
}
@media screen and (max-width:500px){
  .hero h1{
    font-size:30px;
  }
  .hero p{
    font-size:17px;
  }
  .hero a{
    font-size:35px;
  }
}