.secao-team{
    padding: 20px 10% 30px 10%;
    text-align: center;
    background-color: #cccccc;
}
.team__titulo{
    font-size: 1.5rem;
    color:#16ACCD;
}
.team__descricao{
    margin-bottom: 20px;
    color:#16ACCD;
}
.time{
    display: flex;
    justify-content: space-between;
}
.time__card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 20%;
    background-color: #fff;
    border: 3px solid white; 
}
.time__card__img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    display: block;
    height: 150px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

.time__card__img--1{
    background-image: url("https://unavatar.now.sh/github/deigo-lps");
}
.time__card__img--2{
    background-image: url("https://unavatar.now.sh/github/alexRicc2");
}
.time__card__img--3{
    background-image: url("https://unavatar.now.sh/github/gustavoguanabara");
}
.time__card__img--4{
    background-image: url("https://unavatar.now.sh/github/gustavoguanabara");
}
.time__card__texto{
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 2px;
    padding-right: 2px; 
    flex-grow: 1;  
}
.contata{
    background-color: #16ACCD;
    border-radius: 0 0 10px 10px;
    padding: 8px;
}
.contata a{
    color: white;
}
.contata:hover{
    background-color:#a50c0c;
    transition: .4s;
}


@media screen and (max-width:840px) {
    
    .secao-team{
        padding: 20px 3.5%;
    }
    .time{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .time__card{
        width: 40%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 420px){
    .time__card{
        width: 70%
    }
}